<h1>Editing exercise</h1>

<form *ngIf="form" [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <input type="name" formControlName="name" class="form-control" placeholder="Enter exercise name">
  </div>

  <h4>Exercise types</h4>
  <div class="form-check" *ngFor="let exerciseType of exerciseTypes$ | async">
    <label class="form-check-label" [for]="exerciseType.id">
      <input class="form-check-input" type="checkbox" (change)="setCheckboxValue($event)" [value]="exerciseType.id"
        [id]="exerciseType.id" [checked]="exerciseType.id | checked: form.get('exerciseTypes').value">
      {{ exerciseType.name }}
    </label>
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>

<pre *ngIf="form">
  {{ form.value | json }}
</pre>