<mat-vertical-stepper (selectionChange)="currentStep($event)" [linear]="false" #stepper>
  <mat-step>
    <ng-template matStepLabel>Exercise types</ng-template>
    <div>
      <button fxFlex mat-raised-button matStepperNext>Next</button>
    </div>
    <br />
    <pp-exercise-type-select></pp-exercise-type-select>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>Exercise type order</ng-template>
    <div>
      <button fxFlex mat-raised-button matStepperPrevious>Previous</button>
      <button fxFlex mat-raised-button matStepperNext>Next</button>
    </div>
    <br />
    <pp-exercise-type-order></pp-exercise-type-order>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>Add extra exercises</ng-template>
    <div>
      <button fxFlex mat-raised-button matStepperPrevious>Previous</button>
      <button fxFlex mat-raised-button matStepperNext>Next</button>
    </div>
    <br />
    <pp-add-exercises></pp-add-exercises>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>Shuffle exercises</ng-template>
    <div>
      <button fxFlex mat-raised-button matStepperPrevious>Previous</button>
    </div>
    <br />
    <pp-shuffle-exercises></pp-shuffle-exercises>
    <br />
  </mat-step>
</mat-vertical-stepper>