<!-- Preferences -->
<mat-accordion>
  <mat-expansion-panel hideToggle>

    <!-- Panel header -->
    <mat-expansion-panel-header fxLayoutAlign="space-between center">
      <mat-panel-title *ngIf="currentPreference$ | async as currentPreference">
        <div class="preference-name">
          {{ currentPreference.name }}
        </div>
      </mat-panel-title>
      <mat-panel-description>
        current preference
      </mat-panel-description>
      <mat-icon *ngIf="changedPreferenceAndNotAnon$ | async" style="color:red;">info</mat-icon>
    </mat-expansion-panel-header>

    <!-- Preferences changed options -->
    <ng-container *ngIf="changedPreferenceAndNotAnon$ | async">
      <h3 style="color:red;font-weight:lighter; max-width:200px"
        *ngIf="currentPreference$ | async as currentPreference">
        {{ currentPreference.name }} has
        changed!</h3>

      <!-- Options -->
      <ng-container *ngIf="!creatingPreference">
        <button mat-button color="primary" (click)="save()">Save</button>
        <button mat-button color="warn" (click)="discard()">Discard</button>
        <button mat-button color="accent" (click)="newPreference()">New</button>
      </ng-container>

      <br />

      <!-- Creating preference -->
      <ng-container *ngIf="creatingPreference">
        <!-- Input -->
        <mat-form-field>
          <input matInput input="text" name="name" [formControl]="nameControl" placeholder="Name" />
        </mat-form-field>

        <!-- Validation -->
        <p *ngIf="validationMessage" style="color: red;">{{ validationMessage }}</p>

        <!-- Buttons -->
        <button mat-button color="primary" (click)="createPreference()">Create</button>
        <button mat-button color="default" (click)="cancelForm()">Cancel</button>

      </ng-container>
    </ng-container>

    <!-- Preferences -->
    <div role="list" *ngIf="!renamingPreference && !(changedPreferenceAndNotAnon$ | async)">
      <!-- Preference -->
      <div role="listitem" *ngFor="let preferences of preferences$ | async" fxLayout
        fxLayoutAlign="space-between center">
        <p class="preference-name">
          {{ preferences.name }}
        </p>
        <!-- Preferences options -->
        <span class="push-right">
          <!-- Use -->
          <mat-icon class="preference-option-create space-right" (click)="selectPreference(preferences)"
            matTooltip="Use">
            done
          </mat-icon>

          <!-- Rename -->
          <mat-icon *ngIf="preferences.id !== 'anon'" class="preference-option-rename space-right"
            (click)="renamePreference(preferences)" matTooltip="Rename">
            create
          </mat-icon>
          <mat-icon *ngIf="preferences.id === 'anon'" class="preference-option-disabled space-right">
            create
          </mat-icon>

          <!-- Delete -->
          <mat-icon *ngIf="preferences.id !== 'anon'" class="preference-option-delete"
            (click)="deletePreference(preferences)" matTooltip="Delete">
            delete
          </mat-icon>
          <mat-icon *ngIf="preferences.id === 'anon'" class="preference-option-disabled">
            delete
          </mat-icon>
        </span>
      </div>
    </div>

    <!-- Renaming preference -->
    <ng-container *ngIf="renamingPreference">
      <!-- Input -->
      <mat-form-field>
        <input matInput input="text" name="name" [formControl]="nameControl" placeholder="Name" />
      </mat-form-field>

      <!-- Validation -->
      <p *ngIf="validationMessage" style="color: red;">{{ validationMessage }}</p>

      <!-- Buttons -->
      <button mat-button color="primary" (click)="updatePreference()">Rename</button>
      <button mat-button color="default" (click)="cancelForm()">Cancel</button>

    </ng-container>

  </mat-expansion-panel>
</mat-accordion>
<br />