cdk-virtual-scroll-viewport {
    min-height: 70vh;
    li {
        height: 100px;
    }
}

cdk-virtual-scroll-viewport::-webkit-scrollbar {
    display: none;
}
cdk-virtual-scroll-viewport::-webkit-scrollbar-track {
    display: none;
}
cdk-virtual-scroll-viewport::-webkit-scrollbar-thumb {
    display: none;
}

.algolia-hit {
    display: block;
    height: 30px;
}

// Push menu buttons to the right
.push {
  margin-left: auto;
}