<!-- Title -->
<ng-content select="h1"></ng-content>

<!-- Actions -->
<a mat-raised-button (click)="toggleActions()">{{ (showActions ? 'Hide actions' : 'Show actions') }}</a>
<a mat-raised-button color="primary" [routerLink]="['create']">Create</a>

<ng-container *ngIf="showActions">
  <!-- Filters -->
  <h2>Filters</h2>
  <mat-checkbox (change)="generateQuery()" [(ngModel)]="filterNoExerciseType">Exercises w.
    no exercise type</mat-checkbox>

  <!-- Search -->
  <ng-container *ngIf="searchEnabled">
    <h2>Search</h2>
    <pp-search [collectionName]="collectionName" (selectedHit)="routeToHit($event)">
    </pp-search>
  </ng-container>
</ng-container>

<br *ngIf="!showActions" />
<br *ngIf="!showActions" />

<!-- Entries -->
<p style="font-size: 12px; font-style: italic;">Swipe down or scroll to load more</p>
<ng-container *ngIf="entries$ | async as entries">
  <cdk-virtual-scroll-viewport itemSize="100"
    (scrolledIndexChange)="nextBatch($event, (entries.length > 0 && entries[entries.length - 1][identifier]))">
    <div *cdkVirtualFor="let entry of entries; trackBy: trackById">
      <pp-entry [identifier]="identifier" [entry]=entry>
        <!-- Quick menu -->
        <button mat-icon-button [matMenuTriggerFor]="menu" class="entry-menu push">
          <mat-icon>more_vert</mat-icon>
        </button>

        <mat-menu #menu="matMenu">
          <!-- Edit -->
          <a mat-menu-item [routerLink]="['edit', entry.id]">
            <mat-icon>edit</mat-icon>
            Edit
          </a>

          <!-- Delete -->
          <button mat-menu-item (click)="delete(entry)">
            <mat-icon>remove</mat-icon>
            <span>Remove</span>
          </button>
        </mat-menu>
      </pp-entry>
      <br />
    </div>
  </cdk-virtual-scroll-viewport>
</ng-container>