cdk-virtual-scroll-viewport {
    height: 80vh;
    li {
        height: 100px;
    }
}

.algolia-hit {
    display: block;
    height: 30px;
}

.entry {
    max-width: 300px;
    margin-bottom: 50px;
}