<div class="row">
  <div class="col">
    <div class="row">
      <div class="col-9">
        <ng-content select="h1"></ng-content>
      </div>
      <div class="col-3">
        <a class="btn btn-secondary btn-sm mt-2" [routerLink]="['/manage']"><i class="icon arrow-round-back"></i>
          Back</a>
      </div>
    </div>
    <hr />
    <a class="btn btn-success" [routerLink]="['create']">Create</a>

    <!-- Search -->
    <ais-instantsearch *ngIf="searchEnabled" [config]="searchConfig">

      <ais-search-box [autofocus]="false" (change)="searchChanged($event)"></ais-search-box>
      <ais-hits *ngIf="showSearchResults">
        <ng-template let-hits="hits">
          <ng-container *ngFor="let hit of hits">
            <a class="algolia-hit" [routerLink]="['edit', hit.id]">
              <ais-highlight attribute="name" [hit]="hit"></ais-highlight>
            </a>
            <br />
          </ng-container>
        </ng-template>
      </ais-hits>
    </ais-instantsearch>

    <!-- Entry list -->
    <ng-container *ngIf="entries$ | async as entries">
      <cdk-virtual-scroll-viewport itemSize="100"
        (scrolledIndexChange)="nextBatch($event, (entries.length > 0 && entries[entries.length - 1][identifier]))">
        <ul>
          <li *cdkVirtualFor="let entry of entries; let i = index; trackBy: trackById">{{ entry[identifier] }} - <a
              [routerLink]="['edit', entry.id]">Edit</a> - <a style="color:red;cursor: pointer;"
              (click)="openDeleteModal(entry)">Delete</a>
          </li>
        </ul>
      </cdk-virtual-scroll-viewport>
    </ng-container>
  </div>
</div>

<!-- Modal -->
<div *ngIf="currentEntry" class="modal" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="EntryModalTitle">Are you sure you want to delete {{ currentEntry[identifier] }}
        </h5>
      </div>
      <div class="modal-body">
        This action cannot be undone. Srsly!
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="delete(currentEntry)">Delete
          it!</button>
        <button type="button" class="btn btn-secondary" (click)="closeDeleteModal()">Close</button>
      </div>
    </div>
  </div>
</div>