.title {
    cursor: pointer;
    outline: none;
}

mat-sidenav {
    min-width: 150px;
}

mat-toolbar-row {
  height: 8vh
}

mat-sidenav-content {
  min-height: 92vh;
  overflow: hidden;
}

.content {
  padding: 28px;
}

/* Nested menu styles */
.full-width {
  width: 100%;
}

.menu-button {
  transition: 300ms ease-in-out;
  transform: rotate(0deg);
}

.menu-button.rotated {
  transform: rotate(180deg);
}

.submenu {
  display: none;
  padding-left: 10px;
}

.submenu.expanded {
  display: inline-block;
}