<!-- Title -->
<ng-content select="h1"></ng-content>

<!-- Form -->
<form *ngIf="form$ | async as form" [formGroup]="form" (ngSubmit)="onSubmit(form)">

    <!-- Dynamic fields -->
    <ng-container *ngFor="let field of fields">
        <pp-field-loader *ngIf="field.component" [field]="field" [form]="form">
        </pp-field-loader>
    </ng-container>

    <!-- Buttons -->
    <a mat-raised-button [routerLink]="['/' + area]">Cancel</a>
    <button type="submit" mat-raised-button color="primary">Submit</button>
    <pre> {{ form.value | json }}</pre>

</form>