<div class="container" fxLayout fxLayout.xs="column">
  <div fxLayout.xs="column">

    <button mat-raised-button color="primary" (click)="program.plz()">Program plz!</button>
    <button *ngIf="!programStepper" mat-raised-button (click)="toggleProgramStepper()">Customize program</button>
    <button *ngIf="programStepper" mat-raised-button (click)="toggleProgramStepper()">Hide customize options</button>

    <pp-program-stepper *ngIf="programStepper"></pp-program-stepper>

    <ng-container *ngIf="program.exercises$ | async as exercises">
      <h3 *ngIf="exercises.length > 0">Program</h3>
    </ng-container>
    <pp-exercises></pp-exercises>

  </div>
</div>