<!-- Select exercise type -->
<div fxLayout fxLayout.xs="column">
  <div fxLayout.xs="column">

    <pp-exercise-type-select></pp-exercise-type-select>
    <pp-exercise-type-order></pp-exercise-type-order>
    <pp-add-exercises></pp-add-exercises>
    <pp-shuffle-exercises></pp-shuffle-exercises>

    <!-- Add exercises -->
    <button mat-raised-button color="primary" (click)="addExercises()">Add exercises</button>

    <!-- Create program -->
    <button mat-raised-button color="primary" (click)="createProgram()">Program plz!</button>

    <!-- Program -->
    <pp-spinner class="program-spinner" *ngIf="loading"></pp-spinner>
    <pp-exercises *ngIf="!loading"></pp-exercises>
  </div>
</div>