<div class="row">
  <div class="col">
    <div class="row">
      <div class="col-9">
        <h1>Exercise types</h1>
      </div>
      <div class="col-3">
        <a class="btn btn-secondary btn-sm mt-2" [routerLink]="['/manage']"><i class="icon arrow-round-back"></i>
          Back</a>
      </div>
    </div>
    <hr />
    <a class="btn btn-success" [routerLink]="['create']">Create</a>

    <ul *ngFor="let exerciseType of exerciseTypes | async">
      <li>{{ exerciseType.name }} - <a [routerLink]="['edit', exerciseType.id]">Edit</a> - <a
          (click)="delete(exerciseType)">Delete</a>
      </li>
    </ul>
  </div>
</div>