<ng-container *ngIf="exercise">
  <mat-card class="exercise-card" fxLayout fxLayoutAlign="null center">
    <h3 *ngIf="!loading">{{ exercise.name }}</h3>
    <pp-spinner class="exercise-spinner" *ngIf="loading" [spinner]="'dot'"></pp-spinner>
    <!-- Menu button -->
    <button class="push-right" mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>

    <!-- Drag handle -->
    <ng-content select=".drag-handle"></ng-content>

    <!-- Menu Items -->
    <mat-menu #menu="matMenu">

      <!-- Exercise info -->
      <button mat-menu-item>
        <mat-icon>help_outline</mat-icon>
        <span (click)="exerciseInfo(exercise)">Exercise
          info</span>
      </button>

      <!-- Remove exercise -->
      <button mat-menu-item (click)="removeExercise(exercise)">
        <mat-icon>remove</mat-icon>
        <span>Remove exercise</span>
      </button>

      <!-- Different version -->
      <button mat-menu-item [matMenuTriggerFor]="replace">
        <mat-icon>swap_horiz</mat-icon>
        <span>Replace</span>
      </button>
    </mat-menu>

    <mat-menu #replace="matMenu">
      <button mat-menu-item (click)="replaceWithSearch(index);">
        <mat-icon>search</mat-icon>
        <span>Search</span>
      </button>
      <button mat-menu-item (click)="replaceWithRandom(exercise, index);">
        <mat-icon>contact_support</mat-icon>
        <span>Random</span>
      </button>
    </mat-menu>

  </mat-card>
</ng-container>