<ng-container *ngIf="exercise">
  <mat-card class="exercise-card">
    <mat-card-header>
      <mat-card-title *ngIf="!loading">{{ exercise.name }}</mat-card-title>
      <mat-card-subtitle *ngIf="!loading">Vertical push (temp placeholder)</mat-card-subtitle>
      <pp-spinner class="exercise-spinner" *ngIf="loading" [spinner]="'dot'"></pp-spinner>
    </mat-card-header>
    <!-- A picture or other content can be added here -->
    <mat-card-content>
      <p>3s x failure</p>
    </mat-card-content>
    <mat-card-actions>
      <!-- Quick menu -->
      <div cdkDragHandle>
        <mat-icon *ngIf="dragExercises">drag_indicator</mat-icon>
      </div>


      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>

      <mat-menu #menu="matMenu">

        <!-- Exercise info -->
        <button mat-menu-item>
          <mat-icon>help_outline</mat-icon>
          <span (click)="exerciseInfo(exercise)">Exercise
            info</span>
        </button>

        <!-- Remove exercise -->
        <button mat-menu-item (click)="removeExercise(exercise)">
          <mat-icon>remove</mat-icon>
          <span>Remove exercise</span>
        </button>

        <!-- Toggle drag and drop -->
        <button mat-menu-item>
          <mat-icon>drag_handle</mat-icon>
          <span *ngIf="!dragExercises" (click)="toggleDragExercises()">Drag'n drop: On</span>
          <span *ngIf="dragExercises" (click)="toggleDragExercises()">Drag'n drop: Off</span>
        </button>

        <!-- Different version -->
        <button mat-menu-item (click)="differentVersion(exercise, index);">
          <mat-icon>swap_horiz</mat-icon>
          <span>Replace</span>
        </button>
      </mat-menu>
    </mat-card-actions>
  </mat-card>
</ng-container>