service cloud.firestore {
  match /databases/{database}/documents {

    match /exercises/{id} {
      allow read;
      allow write, delete: if getRole('admin') == true;
    }

    match /exercise-types/{id} {
      allow read;
      allow write, delete: if getRole('admin') == true;
    }

    match /attributes/{id} {
      allow read;
      allow write, delete: if getRole('admin') == true;
    }

    match /equipment/{id} {
      allow read;
      allow write, delete: if getRole('admin') == true;
    }

    match /preferences/{id} {
      allow read;
      allow write, delete: if getRole('admin') == true;
    }

    match /users/{userId} {
      allow read: if isOwner(userId);
      allow create: if request.resource.data.roles.keys().hasAny(['admin']) == false;
      allow update: if getRole('admin') == true;
    }

    function isOwner(userId) {
      return request.auth.uid == userId;
    }

    function getRole(role) {
      return get(/databases/$(database)/documents/users/$(request.auth.uid)).data.roles[role]
    }
  }
}