<div class="row mt-2">
  <div class="col-8">
    <!-- Select exercise type -->
    <mat-form-field *ngIf="allExerciseTypes$ | async as exerciseTypes">
      <mat-label>Exercise types</mat-label>
      <mat-select (selectionChange)="selectedExerciseTypes$.next($event.value)" [value]="exerciseTypes" multiple>
        <mat-option *ngFor="let exerciseType of exerciseTypes" [value]="exerciseType">
          {{ exerciseType.name }}</mat-option>
      </mat-select>
    </mat-form-field>
    <br />


    <!-- Shuffle -->
    <button class="btn btn-sm btn-info" (click)="shuffle()">Shuffle order of exercises</button>
    <br />
    <br />

    <!-- Create program -->
    <button class="btn btn-primary btn-lg" (click)="createProgram()">Program plz!</button>
  </div>
  <div class="col-4">
    <a class="btn btn-secondary btn-sm" [routerLink]="['manage']">Manage</a>
  </div>
</div>

<!-- Program -->
<div cdkDropList (cdkDropListDropped)="drop($event)">
  <ng-container *ngFor="let exercise of exercises$ | async as exercises; trackBy: trackById">
    <div class="card my-2" style="width: 18rem;" cdkDrag>
      <div class="card-body">
        <div class="row">
          <div class="col-10 mb-2">
            <h6 class="card-title">{{ exercise.name }}</h6>
            <p class="card-text">3s x failure</p>
          </div>
          <!-- Card info -->
          <div class="col-2">
            <i class="icon ion-md-cog" (click)="setCurrentExercise(exercise)" data-toggle="modal"
              data-target="#exerciseModal"></i>
          </div>
        </div>
        <!-- Card actions -->
        <div class="row">
          <div class="col-4">
            <a href="javascript:void(0)" class="card-link" (click)="differentVersion(exercises, exercise);">Replace</a>
          </div>
          <div class="col-4">
            <a href="javascript:void(0)" class=" card-link">Easier</a>
          </div>
          <div class="col-4">
            <a href="javascript:void(0)" class=" card-link">Harder</a>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</div>

<!-- Card info modal -->
<div *ngIf="currentExercise" class="modal" id="exerciseModal" tabindex="-1" role="dialog"
  aria-labelledby="exerciseModalTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exerciseModalTitle">{{ currentExercise.name }}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        This section will contain instructions on how to do the exercise, do's and dont's etc.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>