<!-- Configuration -->
<div class="row mt-2">
  <div class="col-8">
    <!-- Select exercise type -->
    <mat-form-field *ngIf="allExerciseTypes$ | async as exerciseTypes">
      <mat-label>Exercise types</mat-label>
      <mat-select #exerciseTypesList (selectionChange)="selectedExerciseTypes$.next($event.value)"
        [value]="exerciseTypes" multiple>
        <mat-option *ngFor="let exerciseType of exerciseTypes" [value]="exerciseType">
          {{ exerciseType.name }}</mat-option>
      </mat-select>
    </mat-form-field>
    <br />
    <button class="btn btn-primary btn-sm" (click)="selectAllExerciseTypes()">Select all</button>
    <button class="btn btn-primary btn-sm" (click)="deSelectAllExerciseTypes()">Deselect all</button>
    <br />
    <br />

    <!-- Exercise type order -->
    <button class="btn btn-sm btn-info" (click)="applyExerciseTypeOrder()">Apply order</button>
    <div cdkDropList (cdkDropListDropped)="exerciseTypeOrderDrop($event)">
      <ng-container *ngFor="let exerciseType of selectedExerciseTypes$ | async; trackBy: trackById">
        <p cdkDrag>{{ exerciseType.name }}</p>
      </ng-container>
    </div>

    <!-- Shuffle -->
    <button class="btn btn-sm btn-info" (click)="shuffle()">Shuffle order of exercises</button>
    <br />
    <br />

    <!-- Create program -->
    <button class="btn btn-primary btn-lg" (click)="createProgram()">Program plz!</button>
  </div>

  <!-- Misc options -->
  <div class="col-4">
    <ng-container *ngIf="auth.user$ | async as user; else anon">
      <a class="btn btn-secondary btn-sm" (click)="auth.signOut()">Logout</a>
      <a class="btn btn-secondary btn-sm" [routerLink]="['profile']">Profile</a>
      <a *ngIf="user.roles && user.roles.admin" class="btn btn-secondary btn-sm" [routerLink]="['manage']">Manage</a>
    </ng-container>
    <ng-template #anon>
      <a class="btn btn-secondary btn-sm" [routerLink]="['login']">Login</a>
    </ng-template>
  </div>
</div>

<!-- Program -->
<pp-spinner class="program-spinner" *ngIf="loading"></pp-spinner>
<div *ngIf="!loading" cdkDropList (cdkDropListDropped)="exerciseDrop($event)">
  <ng-container *ngIf="exercises$ | async as exercises">
    <!-- Program actions -->
    <ng-container *ngIf="exercises">
      <!-- Add exercise -->
      <button class="btn btn-sm btn-info" (click)="openAddModal()">
        <span>Add exercises</span>
      </button>
      <br />
      <br />
    </ng-container>
    <!-- Exercises -->
    <ng-container *ngFor="let exercise of exercises; trackBy: trackById; let index = index">
      <mat-card class="exercise-card" cdkDrag>
        <mat-card-header>
          <mat-card-title *ngIf="!exercise.util.loading">{{ exercise.name }}</mat-card-title>
          <mat-card-subtitle *ngIf="!exercise.util.loading">Vertical push (temp placeholder)</mat-card-subtitle>
          <pp-spinner class="exercise-spinner" *ngIf="exercise.util.loading" [spinner]="'dot'"></pp-spinner>
        </mat-card-header>
        <!-- A picture or other content can be added here -->
        <mat-card-content>
          <p>3s x failure</p>
        </mat-card-content>
        <mat-card-actions>
          <!-- Quick menu -->
          <div cdkDragHandle>
            <mat-icon *ngIf="dragExercises">drag_indicator</mat-icon>
          </div>

          <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>more_vert</mat-icon>
          </button>

          <mat-menu #menu="matMenu">
            <!-- Exercise info -->
            <button mat-menu-item>
              <mat-icon>help_outline</mat-icon>
              <span (click)="setCurrentExercise(exercise)" data-toggle="modal" data-target="#exerciseModal">Exercise
                info</span>
            </button>

            <!-- Add exercise -->
            <button mat-menu-item (click)="openAddModal()">
              <mat-icon>add</mat-icon>
              <span>Add exercises</span>
            </button>

            <!-- Toggle drag and drop -->
            <button mat-menu-item>
              <mat-icon>drag_handle</mat-icon>
              <span *ngIf="!dragExercises" (click)="toggleDragExercises()">Drag'n drop: On</span>
              <span *ngIf="dragExercises" (click)="toggleDragExercises()">Drag'n drop: Off</span>
            </button>

            <!-- Different version -->
            <button mat-menu-item>
              <mat-icon>swap_horiz</mat-icon>
              <span (click)="differentVersion(exercises, exercise, index);">Replace</span>
            </button>
          </mat-menu>
        </mat-card-actions>
      </mat-card>
    </ng-container>
  </ng-container>
</div>

<!-- Card info modal -->
<div *ngIf="currentExercise" class="modal" id="exerciseModal" tabindex="-1" role="dialog"
  aria-labelledby="exerciseModalTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exerciseModalTitle">{{ currentExercise.name }}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        This section will contain instructions on how to do the exercise, do's and dont's etc.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Add exercises modal -->
<div class="modal" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Choose exercises to add</h5>
      </div>
      <div class="modal-body">
        <pp-search [collectionName]="'exercises'" (selectedHit)=addToAdding($event)></pp-search>

        <ng-container *ngFor="let exercise of exercisesToAdd">
          <p>{{ exercise.name }} - <span style="color: red;" (click)="removeFromAdding(exercise)">remove</span></p>
        </ng-container>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="addExercises()">Add</button>
        <button type="button" class="btn btn-secondary" (click)="closeAddModal()">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Remove exercise modal -->
<div *ngIf="currentExercise" class="modal" id="removeModal" tabindex="-1" role="dialog"
  aria-labelledby="removeModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="EntryModalTitle">Are you sure you want to remove {{ currentExercise.name }}?
        </h5>
      </div>
      <div class="modal-body">
        Note: You can add it again via the "Add" option.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="removeExercise(exercise)">Remove</button>
        <button type="button" class="btn btn-secondary" (click)="closeRemoveModal()">Close</button>
      </div>
    </div>
  </div>
</div>