<!-- Configuration -->
<div class="row mt-2">
  <div class="col-8">
    <!-- Select exercise type -->
    <mat-form-field *ngIf="allExerciseTypes$ | async as exerciseTypes">
      <mat-label>Exercise types</mat-label>
      <mat-select (selectionChange)="selectedExerciseTypes$.next($event.value)" [value]="exerciseTypes" multiple>
        <mat-option *ngFor="let exerciseType of exerciseTypes" [value]="exerciseType">
          {{ exerciseType.name }}</mat-option>
      </mat-select>
    </mat-form-field>
    <br />

    <!-- Exercise type order -->
    <button class="btn btn-sm btn-info" (click)="applyExerciseTypeOrder()">Apply order</button>
    <div cdkDropList (cdkDropListDropped)="exerciseTypeOrderDrop($event)">
      <ng-container *ngFor="let exerciseType of selectedExerciseTypes$ | async; trackBy: trackById">
        <p cdkDrag>{{ exerciseType.name }}</p>
      </ng-container>
    </div>

    <!-- Shuffle -->
    <button class="btn btn-sm btn-info" (click)="shuffle()">Shuffle order of exercises</button>
    <br />
    <br />

    <!-- Create program -->
    <button class="btn btn-primary btn-lg" (click)="createProgram()">Program plz!</button>
  </div>
  <div class="col-4">
    <a class="btn btn-secondary btn-sm" [routerLink]="['manage']">Manage</a>
  </div>
</div>

<!-- Program -->
<pp-spinner *ngIf="loading"></pp-spinner>
<div *ngIf="!loading" cdkDropList (cdkDropListDropped)="exerciseDrop($event)">
  <ng-container *ngIf="exercises$ | async as exercises">
    <!-- Toggle drag and drop -->
    <ng-container *ngIf="exercises.length > 1">
      <br />
      <button class="btn btn-sm btn-info" (click)="toggleDragExercises()">
        <span *ngIf="dragExercises">Disable drag and drop</span>
        <span *ngIf="!dragExercises">Enable exercise drag and drop</span>
      </button>
      <br />
      <br />
    </ng-container>

    <!-- Exercises -->
    <ng-container *ngFor="let exercise of exercises; trackBy: trackById">
      <div class="card my-2" style="width: 18rem;" cdkDrag>
        <div class="card-body">
          <div class="row">
            <div class="col-10 mb-2">
              <!-- START HERE: Currently ALL titles are shown and hidden. The differentVersionLoading boolean must be used via an dictionary or something...  -->
              <h6 class="card-title">{{ exercise.name }}</h6>
              <!-- *ngIf="!differentVersionLoading" -->
              <!-- <pp-spinner *ngIf="differentVersionLoading" [spinner]='dot'></pp-spinner> -->

              <p class="card-text">3s x failure</p>
            </div>
            <!-- Card info -->
            <div class="col-2">
              <!-- Drag handle -->
              <div cdkDragHandle>
                <svg *ngIf="dragExercises" width="24px" fill="currentColor" viewBox="0 0 24 24">
                  <path
                    d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z">
                  </path>
                  <path d="M0 0h24v24H0z" fill="none"></path>
                </svg>
              </div>
              <!-- Info button -->
              <i *ngIf="!dragExercises" class="icon ion-md-cog" (click)="setCurrentExercise(exercise)"
                data-toggle="modal" data-target="#exerciseModal"></i>
            </div>
          </div>
          <!-- Card actions -->
          <div class="row">
            <div class="col-4">
              <a href="javascript:void(0)" class="card-link"
                (click)="differentVersion(exercises, exercise);">Replace</a>
            </div>
            <div class="col-4">
              <a href="javascript:void(0)" class=" card-link">Easier</a>
            </div>
            <div class="col-4">
              <a href="javascript:void(0)" class=" card-link">Harder</a>
            </div>
          </div>
        </div>
      </div>
    </ng-container>

  </ng-container>
</div>

<!-- Card info modal -->
<div *ngIf="currentExercise" class="modal" id="exerciseModal" tabindex="-1" role="dialog"
  aria-labelledby="exerciseModalTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exerciseModalTitle">{{ currentExercise.name }}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        This section will contain instructions on how to do the exercise, do's and dont's etc.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>