<!-- Search -->
<ais-instantsearch [config]="searchConfig">

  <ais-search-box [autofocus]="false" (change)="searchChanged($event)" (reset)="showSearchResults = false" #searchBox>
  </ais-search-box>
  <ais-hits *ngIf="showSearchResults">
    <ng-template let-hits="hits">
      <ng-container *ngFor="let hit of hits">
        <a class="algolia-hit" (click)="clickedHit(hit)">
          <ais-highlight attribute="name" [hit]="hit"></ais-highlight>
        </a>
        <br />
      </ng-container>
    </ng-template>
  </ais-hits>
</ais-instantsearch>